.display-page{
    position: absolute;
    left: 230px;
    top: 80px;
    background: #E5E5E5;
    width: 1290px;
    height: 830px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.dashboard-navbar{
    width: 1290px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #E5E5E5;
}
.dash-icon{
    position: absolute;
    top: 4%;
    left: 5%;
}
.dashboard-nav{
    text-decoration: none;
    font-size: 20px;
    color: #424242;
    font-weight: 500;
    line-height: 27px;
    position: absolute;
    left: 8%;
    top: 4%;
}
.btn-danger{
    position: absolute;
    top: 3%;
    left: 80%;
}
.first-row{
    position: relative;
    top: 5%;
}
.cash-flow-card{

    min-height: 500px;
    position: absolute;
    left: 5%;
}
/* .transaction-card{
    width: 300px;
    height: 300px;
    position: ;
    left: 65%;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
} */
li{
    list-style-type: none;
}
.store-card{
    width: 250px;
    height: 100px;
    margin-left: -2rem;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
}
.store-heading{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: -0.5rem;
}
.column-store{
    display: flex;
    flex-direction: column;
}
.deposit-text{
    font-size: 12px;
    left: 2%;
    right: 4%
}
.balance{
    font-size: 14px;
}
.more{
    color: orangered;
    text-decoration: none;
    margin-left: 10rem;
    margin-top: 2rem;
}
.second-row{
    position: absolute;
    top: 45%;
}
/* .deposit-card{
    width: 280px;
    height: 330px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    left: 5%;
} */
/* .stores-card{
    width: 250px;
    height: 125px;
    margin-left: -2rem;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
} */
.store-info{
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
}
.store-infos{
    display: flex;
    flex-direction: column;
}
.store-name{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    left: 3%;
}
.store-balance{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
/* .withdraw-card{
    width: 280px;
    height: 330px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    left: 28%;
} */
/* .advance-card{
    width: 280px;
    height: 330px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    left: 52%;
} */
/* .user-card{
    width: 280px;
    height: 330px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    left: 77%;
} */

@media (min-width:1199px) and (max-width: 1399px) {
    .display-page{
        width: 82%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

/*MOBILE VIEW*/
.user-cnt-mobile{
    min-height: 100vh;
    max-height: fit-content;
    position: absolute;
    top: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users-card{
    width: 90vw;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.user-bank-detail{
    display: flex;
    flex-direction: column;
}
.user-bank-name{
    display: flex;
    flex-direction: row;
}
.bank-heading{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2E;
}
.fa-university{
    color: #707070;
}
.bank-name{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #707070;
}