.setting-item-heading{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #43424B;
}
.setting-item-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #43424B;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

/* mobile-view */
#settings-cnt-mobile{
    position: absolute;
    top: 7vh;
    background-color: white;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.settings-section-mobile{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.settings-item-mobile{
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    padding: 6px 0;
}
.settings-heading-mobile{
    padding:6px 0;
    font-weight: 500;
    font-size: 1.1rem;
}