.create-user-card{
    width: 90%;
    height: 85%;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: absolute;
    left: 5%;
    top: 12%;
}
.business-detail{
    position: relative;
    top: 3%;
}
.bank-detail{
    position: relative;
    top: 0%;
}
h3{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.spinner {
    animation: spin infinite 2s linear;
  }
  
.business-details{
    display: flex;
    flex-direction: row;
}
.business-text{
    width: 200px;
    color: #2C2C2E;
    font-size: 16px;
    font-weight: 500;
}
.business-input{
    width: 350px;
    border: none;
    border-bottom: 2px solid #2C2C2E;
}
.verification{
    color: #A8A8A8;
    font-size: 14px;
}
.file-upload{
    position: absolute;
    left: 80%;
    top: 10%;
    width: 150px;
    height: 150px;
    background: #E5E5E5;
    border: 2px dotted gray;
    border-radius: 5px;
    font-size: 14px;
}
/*MOBILE VIEW*/
.mobile-view-heading{
    position: absolute;
    left: 4%;
    top: 10%;
}
.business-detail-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2C2C2E;
}
.file-upload-mobile{
    width: 150px;
    height: 150px;
    background: #E5E5E5;
    border: 2px dotted gray;
    border-radius: 5px;
    font-size: 14px;
}
.submit-button{
    width: 300px;
    height: 50px;
    background: #BC0018;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

/*User*/
.users-card{
    width: 320px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.user-bank-detail{
    display: flex;
    flex-direction: column;
}
.user-bank-name{
    display: flex;
    flex-direction: row;
}
.bank-heading{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2E;
}
.fa-university{
    color: #707070;
}
.bank-name{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #707070;
}