.sidebar{
    position: relative;
    top: 0%;
    left: 0;
    width: 230px;
    height: 100vh;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.active{
    background: #BC0018;
    color: #FFFFFF;
    border: 1px solid #BC0018;
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.active-create{
    background: #BC0018;
    color: #FFFFFF;
    border: 1px #FFFFFF  !important; 
}

.sidebar-brand{
    width: 200px;
    height: 70px;
    position: relative;
    top: 20px;
    left: 10px;
}
.brand-logo{
    width: 50px;
    height: 50px;
    margin-top: -0.5rem;
}
.brand-name{
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #000000;
}

.create-user{
    width: 200px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    top: 2%;
    left: 7%;
}
.create-user-text{
    font-size: 18px;
    /* text-align: center; */
    position: relative;
    top: 15%;
    /* left: 10%; */
}
.sidebar-menu-items{
    /* position: absolute; */
    top: 20%;
    left: 1%;
}
.sidebar-menu-item{
    list-style-type: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 2.2% 50px 2.2% 5px;
}
i{
    font-size: 25px;
    opacity: 0.6;
}

Link{
    
    text-decoration: none !important;
}
.sidebar-text{
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    text-decoration: none;
}

/* mobile css */
.mobile-side-bar{
    position: absolute;
    top: 0;
    z-index: 5;
    min-width: 50px;
}
.mobile-side-bar .btn{
    position: absolute;
    right: 0px;
    z-index: 6;
}