.btn-outline-danger{
    position: absolute;
    left: 70%;
    top: 3%;
}

.today-button{
    /* position: absolute; */
    left: 10%;
    top: 2.2rem;
    width: 90%;
    height: 50px;
    background: crimson;
    border-radius: 10px;
}
.btn-today{
    color: white;
    margin-top: 0.3rem;
}
.arrow{
    position: absolute;
    left: 80%;
    font-size: 20px;
}
.fa-chevron-down{
    font-size: 22px;
}
.stores{
    position: relative;
    top: 22%;
}
.spinner {
    animation: spin infinite 2s linear;
  }
  
.left-card{
    /* width: 250px; */
    height: 150px;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #FFFFFF;
    border: 1px solid rgba(188, 0, 24, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(188, 0, 24, 0.15);
    border-radius: 20px;
}
.button-grp{
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: row;
}
.btn-deposit{
    background: crimson;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.btn-withdraw{
    background: #FFFFFF;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid crimson;
}
.btn-advance{
    background: #FFFFFF;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid crimson;
}
.btn-print{
    background: #FFFFFF;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid crimson;
}
.detail-card{
    /* width: 750px; */
    /* height: 500px; */
    position: relative;
    top: 10%;
    background: #FFFFFF;
    border: 1px solid rgba(188, 0, 24, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(188, 0, 24, 0.15);
    border-radius: 20px;
}
.col-heading{
    font-size: 18px;
    font-weight: 600;
}
.user-names{
    color: #861F41;
}
.input-group-text{
    width: 20px;
    height: 20px;
}

/*MOBILE VIEW*/
.mobile-display{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
}

.mobile-upper-card{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.card-titles{
    font-weight: 600;
    font-size: 17.642px;
    line-height: 21px;
    color: #BC0018;
}
.fa-angle-down{
    position: absolute;
    left: 80%;
    color: #BC0018;
    font-size: 25px;
}
.mobile-store-card{
    width: 270px;
    height: 180px;
    background: #FFFFFF;
    border: 0.977337px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 3.90935px 13.6827px rgba(0, 0, 0, 0.15);
    border-radius: 19.5467px;
}
.new-balance-side{
    display: flex;
    flex-direction: column;
}
.new-balance-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #707070;
}
.new-balance-amt{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #707070;
}
.date{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}
.time{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}







/*Tranaction history page*/
.button-group{
    display: flex;
    flex-direction: row;
}
.btn-depo{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #BC0018;
}
.column-heading{
    font-weight: 600;
    font-size: 13.9409px;
    line-height: 17px;
    color: #000000;
}
.column-text{
    font-weight: normal;
font-size: 12.1983px;
line-height: 15px;
color: #000000;
}
.make-payment{
    width: 90%;
    background: #BC0018;
    box-shadow: 0px 4px 4px rgba(188, 0, 24, 0.2);
    border-radius: 3.8565px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    position: fixed;
    bottom: 13vh;
}

/* new-mobile-css */
.transaction-cnt-mobile{
    background-color: white;
    min-height: 93vh;
    max-height: fit-content;
    position: absolute;
    top: 7vh;
    width: 100vw;
    max-height: fit-content;
    padding-bottom: 13vh;
}
.transaction-top-bar-mobile{
    height: 7vh;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: #BC0018;
    padding: 0 4vh;
}
.transactions-overview-mobile {
    display: flex;
    flex-direction: column;
    padding: 0 6vw;
}
.transaction-card-mobile{
    width: 88vw;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 10px 0;
}
.transaction-card-mobile hr{
    margin: 0;
}
#transaction-card-top-mobile{
    display: flex;
    height: 50%;
    padding: 5%;
}
#trans-right-mobile{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    justify-content: space-between;
}
#trans-right-mobile :first-child{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 1rem;
line-height: 22px;
/* identical to box height */


color: #000000;
}

#trans-right-mobile :nth-child(2){
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #707070;
}
#transaction-card-bottom-mobile {
    display: flex;
    height: 50%;
}
div#trans-bottom-left-mobile {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #707070;
    align-items: stretch;
}
div#trans-bottom-right-mobile {
    width: 50%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 12px;
    width: 45%;
    align-items: stretch;
    text-align: left;
}
